RewriteEngine On
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]

#<IfModule !mod_rewrite.c>
#    ErrorDocument 404 /index.php
#</IfModule>  



#<Files vidplanet.sql>
#  order allow,deny
#  deny from all
#</Files>

#<Files vidplanet.zip>
#  order allow,deny
#  deny from all
#</Files>
